* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.wapper {
  padding: 0 10%;
}

/****** Generic Classes ******/

.d-flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.padding {
  padding: 15px;
}

.margin {
  margin: 10px 0;
}

/******** header bar ********/

.headerbar {
  background-color: black;
  color: white;
}

/******************* MAIN ******************/

.border {
  border: 3px solid black;
}

/********* left column ********/

.left {
  height: 200px;
  width: 22%;
  margin-right: 2.5%;
}

.image {
  height: 70px;
  width: 70px;
}

.jamesdoe {
  margin-top: 20px;
}

/********** right column *********/

.right {
  height: 500px;
  width: 73%;
  margin-left: 2.5%;
}

.likebar {
  margin-bottom: 15px;
}

.btn-like {
  background-color: rgb(204, 169, 82);
  padding: 3px 8px;
  box-shadow: 3px 3px black;
  margin-left: 20px;
}
